input[type=text], select {width: 100%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;}
input[type=submit] {width: 100%; background-color: #f44336; color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;}
input[type=submit]:hover {background-color: #C3352B;
textarea {width: 100%; height: 150px; padding: 12px 20px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: none;resize: none;}

.w3-quinto {float:left;width:100%}
@media only screen and (min-width:601px){
.w3-quinto {width:99.99999%}  }

@media only screen and (min-width:993px){
.w3-quinto {width:20%}}

